doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Document
  body
    style.
      html {
      font-family: sans-serif;
      background:#ffc600;
      }
      .inbox {
      max-width:400px;
      margin:50px auto;
      background:white;
      border-radius:5px;
      box-shadow:10px 10px 0 rgba(0,0,0,0.1);
      }
      .item {
      display:flex;
      align-items:center;
      border-bottom: 1px solid #F1F1F1;
      }
      .item:last-child {
      border-bottom:0;
      }
      input:checked + p {
      background:#F9F9F9;
      text-decoration: line-through;
      }
      input[type="checkbox"] {
      margin:20px;
      }
      p {
      margin:0;
      padding:20px;
      transition:background 0.2s;
      flex:1;
      font-family:'helvetica neue';
      font-size: 20px;
      font-weight: 200;
      border-left: 1px solid #D1E2FF;
      }
      .details {
      text-align: center;
      font-size: 15px;
      }
    //
      The following is a common layout you would see in an email client.
      When a user clicks a checkbox, holds Shift, and then clicks another checkbox a few rows down, all the checkboxes inbetween those two checkboxes should be checked.
    .inbox
      .item
        input(type='checkbox')
        p This is an inbox layout.
      .item
        input(type='checkbox')
        p Check one item
      .item
        input(type='checkbox')
        p Hold down your Shift key
      .item
        input(type='checkbox')
        p Check a lower item
      .item
        input(type='checkbox')
        p Everything inbetween should also be set to checked
      .item
        input(type='checkbox')
        p Try do it with out any libraries
      .item
        input(type='checkbox')
        p Just regular JavaScript
      .item
        input(type='checkbox')
        p Good Luck!
      .item
        input(type='checkbox')
        p Don't forget to tweet your result!
    script.
      const list = document.querySelector('.inbox');
      const boxes = list.querySelectorAll('.item input[type="checkbox"]');

      let lastChecked; 

      function handleCheck(e) {
        // Check if shift key is held
        // AND that this is first check, not unchecking
        
        let inBetween = false;
        if (e.shiftKey && this.checked) {
          // Strategy: check all the boxes.
          boxes.forEach(box => {


            if ((box === lastChecked) ||
                (box === this)) {
              inBetween = !inBetween; // toggle
            } 

            if (inBetween) {
              //- box.checked = !box.checked; // ignore flipper
              box.checked = true;
              //- console.log(this);
            }

          });
        }

        lastChecked = this;
      }


      boxes.forEach(box => box.addEventListener('click', handleCheck));

   

