
style.
    body {
        font-family: 'Tahoma', sans-serif;
    }

h1 30 Day Javascript Project Directory

p Testing setting up listing of the 30 mini projects

ol
    li
        a(href="./01%20-%20JavaScript%20Drum%20Kit/") JS Drumkit
    li
        a(href="./02%20-%20JS%20%2B%20CSS%20Clock/") JS + CSS Clock 

    li
        a(href="./03%20-%20CSS%20Variables/") CSS Variables    
    li
        a(href="./04%20-%20Array%20Cardio%20Day%201/") Array Cardio 1

    li
        a(href="./05%20-%20Flex%20Panel%20Gallery/") Flex Panel Gallery

    li
        a(href="./06%20-%20Type%20Ahead/") Typeahead Demo
    li
        a(href="./07%20-%20Array%20Cardio%20Day%202/") Array Cardio Two
    li
        a(href="./08%20-%20Fun%20with%20HTML5%20Canvas/") HTML5 Canvas    
    li
        a(href="./09%20-%20Dev%20Tools%20Domination/") Dev Tools
    li
        a(href="./10%20-%20Hold%20Shift%20and%20Check%20Checkboxes/") Hold Shift and Check Checkboxes
    li
        a(href="./11%20-%20Custom%20Video%20Player/") Custom Video Player
    li
        a(href="./12%20-%20Key%20Sequence%20Detection/") Key Code Sequence Detection

    li
        a(href="./13%20-%20Slide%20in%20on%20Scroll/") Slide In On Scroll
script.
    // my solution