doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title JS + CSS Clock
    link(rel="stylesheet" href="main.css")
  
  body
    .clock
      .clock-face
        .hand.hour-hand
        .hand.min-hand
        .hand.second-hand

    script.
